/* -------- RESET & ROOT -------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  --main-color: #1b3b46;
  --second-color: #e2e5ed;
  --background: #ebddd4;
  --second-bg: rgba(27, 59, 70, 0.3);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* -------- HEADER -------- */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.825rem;
  z-index: 100;
}

.header__nav {
  width: 85%;
  z-index: 3;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item--link {
  padding: 0 5px 5px 5px;
      color: var(--second-color);
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      transition: border-bottom .3s ease;
}

.nav__item--link:hover {
  border-bottom: 1px solid var(--second-color);
}

/* -------- MAIN -------- */

.main {
  position: relative;
  background-color: var(--background);
}

.main__text {
  color: var(--main-color);
  text-align: justify;
}

.main__top {
  position: absolute;
  top: -8vh;
}

/* ---- Home ---- */

.home {
  position: relative;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.home__bg {
  top: 0;
  position: absolute;
  background-color: var(--second-bg);
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.home__title {
  font-family: 'Libre Baskerville', serif;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.75rem;
  margin-bottom: 5px;
  z-index: 1;
}

.home__subtitle {
  font-size: 1.5rem;
  color: var(--second-color);
  font-weight: 300;
  z-index: 1;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6% 65px 6%;
  overflow: hidden;
}

.section__title {
  width: 40%;
  padding-bottom: 8px;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.125rem;
  text-align: center;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 25px;
}

.about__top {
  position: absolute;
  top: -14vh;
}

/* ---- Projects ---- */

.projects__top {
  position: absolute;
  top: -15vh;
}

.projects__list {
  display: grid;
  grid-template-rows: auto;
}

.projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 5%;
  margin-bottom: 35px;
  background: linear-gradient(var(--background), var(--second-bg));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects__item--img {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  filter: saturate(0);
}

.projects__item--title {
  color: var(--main-color);
  padding-bottom: 5px;
  margin: 25px 0;
  border-bottom: 1px solid var(--background);
}

.projects__item--text {
  margin-bottom: 10px;
  color: var(--main-color);
  max-width: 90%;
}

.text-icon {
  color: var(--main-color);
  position: relative;
  left: 5px;
  bottom: 1px;
  font-size: 0.8rem;
}

.text-link {
  color: var(--background);
  font-weight: 300;
}

.item__nav {
  margin: 20px 0;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.item__link {
  color: var(--background);
  font-weight: 600;
}

.item__nav--link {
  color: var(--background);
  font-size: 1.2rem;
}

/* ---- Projects: ACTIVE STATES ---- */

.img-cover {
  position: absolute;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: var(--second-bg);
  z-index: 1;
}

.projects__item:hover .img-cover {
  background-color: rgba(0, 0, 0, 0);
}

.projects__item:hover .projects__item--img {
  filter: saturate(100%);
}

.text-link:hover {
  text-decoration: underline;
}

.item__link:hover {
  text-decoration: underline;
}

.item__nav--link:hover {
  color: var(--main-color);
}

/* ---- RESUME ---- */
.resume__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.resume__language {
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.resume__btn {
  width: 170px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: var(--main-color);
  border-radius: 15px;
  color: var(--second-color);
  text-transform: uppercase;
}

.resume__btn:hover {
  color: var(--main-color);
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s ease;
}

.resume__btn:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* ---- FOOTER ---- */

.footer {
  background-color: var(--main-color);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav {
  width: 100%;
}

.footer__list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.footer__list--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #51646a;
  border-radius: 50%;
}

.footer__nav--link {
  color: var(--second-color);
  font-size: 1.2rem;
  padding: 15px;
}

.footer__list--item:hover {
  background-color: var(--background);
}

.footer__list--item:hover .footer__nav--link {
  color: var(--main-color);
}

/* ---- TABLET ---- */
@media all and (min-width: 768px) {
  /* ---- Home & global ---- */

  .home {
    margin-bottom: 50px;
  }
  .home__bg {
    width: 450px;
    height: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }

  .home__title {
    position: relative;
    top: -20%;
  }

  .home__subtitle {
    position: relative;
    top: -20%;
  }

  .section {
    padding: 0% 12% 70px 12%;
  }

  .section__title {
    margin-bottom: 55px;
  }

  /* ---- Projects ---- */

  .projects__list {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }

  .projects__item {
    padding-top: 10%;
  }

  .projects__item--img {
    width: 200px;
    height: 200px;
  }
  .img-cover {
    width: 200px;
    height: 200px;
  }

  /* ---- Resume ---- */
  .resume {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 20% 90px 20%;
  }

  .resume__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* ---- BG animation ---- */
  .animatedBg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .animatedBg__bubble {
    width: 150px;
    height: 150px;
    background-color: var(--second-bg);
    border-radius: 50%;
    position: absolute;
  }
  .animatedBg__bubble--1 {
    left: 10%;
    top: -10%;
    animation: animate 11s alternate infinite;
  }

  .animatedBg__bubble--2 {
    width: 100px;
    height: 100px;
    left: 60%;
    bottom: 10px;
    animation: animate 13s alternate infinite;
  }

  .animatedBg__bubble--3 {
    width: 140px;
    height: 140px;
    left: -5%;
    bottom: 5px;
    animation: animate 8s alternate infinite;
  }

  .animatedBg__bubble--4 {
    top: 30%;
    right: -5%;
    animation: animate2 9s alternate infinite;
  }

  @keyframes animate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }

  @keyframes animate2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-70px, -70px);
    }
  }
}

/* ---- DESKTOP ---- */

@media all and (min-width: 1024px) {
  .header {
    height: 80px;
  }
  .home__title {
    top: -10%;
  }
  .home__subtitle {
    top: -10%;
  }
  .home {
    height: 250px;
  }

  .about-p {
    max-width: 75%;
  }

  .projects__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .resume {
    justify-content: space-evenly;
  }

  .animatedBg__bubble--3 {
    bottom: 0;
  }
}
